<a href="https://colab.research.google.com/github/maddongma/DL23/blob/main/DL/DLW02d.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# üìó Topic [2]: Coding basic #2
---
Keywords:

+ variables
+ **operators**
+ **data types: list and dictionary**

Your github IDs [here](https://docs.google.com/spreadsheets/d/17SX51lCqOdtvC7cAGoX5tP9fKwVdGY5sRzMg2pXh9uk/edit#gid=0) - revised 0327

## [1] Variables

+ **A variable** is a named storage location that holds a value.
+ Variables can be used **to store values** such as numbers, strings, lists, or other data types. 
+ The value of a variable can change throughout the execution of a program. 
+ To declare a variable in Python, you need to assign a value to it using the **equal (=) sign.**

In [3]:
x = 10
y = "Hello, class!"
z = [1, 2, 3]

‚ÜóÔ∏è In the above example, 'x' is assigned the value of 10, 'y' is assigned the value of "Hello, World!", and 'z' is assigned the value of [1, 2, 3].

In [2]:
# We can assign a link or a function
import pandas as pd
url = "https://github.com/MK316/Spring2023/raw/main/data/att_sample.csv"
data = pd.read_csv(url)
data

      Names
0      Mary
1      John
2       Tim
3       Bob
4     Sarah
5      Kate
6     Marie
7   Johnson
8      Mike
9     Harry
10      Jin
11      Sam
12     Paul
13  Natalie

## Commenting '#'

- In Python, the # symbol is used to indicate comment lines. A comment is a line of text in a code that is ignored by the Python interpreter and is used to provide explanations or notes for the reader of the code.

## Uncommenting shortcut: 
* "Ctrl + /" (Place the cursor on the code line and press the Control + / key.)

commenting # = Ïù∏Í∞ÑÏù¥ Î≥¥Îäî Ïñ∏Ïñ¥ÏûÑ.

In [6]:
# This is a comment in Python
x = 10 # this is also a comment

In [9]:
x1 = x * 10
x2 = x + 5

#print(x1) # Print the value of x1
#print(x1, x2) # Print the values of x1 and x2

#print(x1,x2) ÏóêÏÑú #ÏùÑ ÏóÜÏï†Í≥† ÎèåÎ¶¨Î©¥ Í∞íÏù¥ ÎÇòÏò¥. #ÏùÄ Ïù∏Í∞ÑÏù¥ Î≥¥Îäî Ïñ∏Ïñ¥ÏûÑ.

In [14]:
print(y)
# y1 = y + "Welcome to the class."
z1 = x1 + x2
 x= "John"
 y= "came in"
 z1= x+y
print(z1)

IndentationError: ignored

Input types:

* integer: e.g., -3, 1, 0, 234, etc.
* float: e.g., -3.0, 1.2, 0, 3.141592653589793238, etc.
* string: (characters) "1", '0', "3.29", "Mary", "euphoria", 'My name is Jane.'

_Note:_ double or single quotation marks denote **string** data. (Open and close should match.)

In [15]:
# DIY
x = 1
y = 3
z = x + y
print(z)

x1 = "1"
y1 = "3"
z1 = x1 + y1
print(z1)

4
13

In [16]:
type(z)

int

In [17]:
type(z1)

str

In [18]:
print(type(z), type(z1))

<class 'int'> <class 'str'>

str : Ïà´ÏûêÏó¥
type : Ìï¥Îãπ Î¨∏ÏûêÏùò ÌÉÄÏûÖÏùÑ Î≥¥Ïó¨Ï§åÏ§å

## [2] Operators

* Symbols that perform operations on values and variables. 
* They are used to perform arithmetic and logical operations, and they can also be used to manipulate and compare values.

1. Arithmetic Operators: +, -, *, /, %, ** (for exponentiation)
2. semicolon ';' - separate multiple statements (code lines) on a single line.

In [19]:
x = 2; y = 5

a1 = x + y
a2 = x - y
a3 = x * y
a4 = x / y
a5 = x ** y

In [20]:
print(a1, a2, a3, a4, a5)

7 -3 10 0.4 32

In [21]:
print("The value of a1:", a1)

The value of a1: 7

""Ïóê the value of alÏùÑ ÎÑ£ÏóàÍ≥† , ÌïòÍ≥† a1ÏùÑ ÎÑ£Ïñ¥ÏÑú Ï†ÄÎü∞ Í∞íÏù¥ ÎÇòÏò¥.

# üå± Define a function

Demo üî¢ Calculator

Ìï®ÏàòÎ•º Ïö∞Î¶¨Í∞Ä Ï†ïÏùòÌï† Ïàò ÏûàÏùå.

In [22]:
# This function adds two numbers
def add(x, y):
    return x + y

# This function subtracts two numbers
def subtract(x, y):
    return x - y

# This function multiplies two numbers
def multiply(x, y):
    return x * y

# This function divides two numbers
def divide(x, y):
    return x / y

def = Ï†ïÏùòÌïúÎã§
add, subtract, muliply, divide - Î™ÖÎ†πÏñ¥
return = Í≥ÑÏÇ∞ÏóêÏÑú Î¶¨ÌÑ¥Ìï¥Îùº
argument? - add(x,y) ÏóêÏÑú x,yÍ∞Ä argumentÏûÑ.
'Ìï®Ïàò' ÎßåÎì§Î©¥ e.g. {blabla(x,y):}  ÏΩúÎ°†ÌïÑÏàò

In [24]:
# DIY: define a function names switch(x, y), where the input x, y changes its position in the output.

def switch(x,y):
  return print(y,x)

In [25]:
switch("It" ,"is")

is It

print: Í∞í Ï∂úÎ†•

In [27]:
add(1200,34)

1234

In [26]:
# Test

add(2,3)
subtract(3,2)
multiply(2,3)
divide(3,2)

1.5

## Using dropbox format

In [35]:
#@markdown üîÑ Making functions: tts('text')
%%capture
!pip install gTTS
from gtts import gTTS
from IPython.display import Audio

def tts(text):
  text_to_say = text

  gtts_object = gTTS(text = text_to_say,
                     lang = "en", tld = "us",
                    slow = True)
  
  gtts_object.save("E-audio.mp3")
  return Audio ("E-audio.mp3")

In [37]:
func = "divide" #@param = ["add","subtract","multiply","divide"]
digits = input("Type two numbers: (e.g., 3,4)")
digitsplit = digits.split(',')
d1 = int(digitsplit[0])
d2 = int(digitsplit[1])

if func == "add":
  result = add(d1,d2)
  text = "The addition of %d and %d equals %d."%(d1,d2,result)
elif func == "subtract":
  result = subtract(d1,d2)
  text = "If you subtract %d from %d, you get %d."%(d2,d1,result)
elif func == "divide":
  result = divide(d1,d2)
  text = "When you divide %d by %d, you get %d."%(d1,d2,result)
elif func == "multiply":
  result = multiply(d1,d2)
  text = "%d multiplied by %d is %d."%(d1,d2,result)

print(text)
tts(text)
Audio("E-audio.mp3"), autoplay = True

SyntaxError: ignored

More operators: <br>
* Comparison Operators: ==, !=, <, >, <=, >= <br>
* Assignment Operators: =, +=, -=, *=, /=, %= <br>
* Logical Operators: and, or, not <br>
* Identity Operators: is, is not <br>
* Membership Operators: in, not in

# üìóTopic [3] Data types: number, string, list and dictionary


|Data type| |
|:--:|:--:|
|number|int, float|
|string|charcter|
|list|[1, 2,4], ['Mary','Tom','Jane'|
|dictionary|(key: value), [('English': 80), ('Korean':90)]|
|tuple|('zero', 0)|

list : ÌïòÎÇò Ïù¥ÏÉÅÏùò Îç∞Ïù¥ÌÑ∞Î•º ÏàúÏÑúÎåÄÎ°ú ÎÇòÏó¥Ìïú Í≤É.

In [40]:
a1 = 3   # a1 is integer
a2 = 3.0 # a2 is float
a3 = "3" # a3 is string

type(a1); type(a2); type(a3)
print(type(a1), type(a2), type(a3))

<class 'int'> <class 'float'> <class 'str'>

ÏÑ∏ÎØ∏ÏΩúÎ°† Ïó≠Ìï† : ÏßßÏùÄ Î¨∏Ïû•ÏùºÎïå Í∑∏ÎÉ• ÎÇòÏó¥Ìï¥ÏÑú Í≤∞Í≥º Í∞íÏùÑ Î≥¥Ïó¨Ï§å.
#Î•º ÏóÜÏï†Ïïº Í∞íÏù¥ ÎÇòÏò¥ #ÏóÜÏï†Îäî Îã®Ï∂ïÌÇ§ = ctrl /

list and index (0, 1, 2,...)

In [41]:
a = [1, "Mary", 4, "John"]  # This is a list.
print(type(a))

a+a

<class 'list'>

[1, 'Mary', 4, 'John', 1, 'Mary', 4, 'John']

a Î¶¨Ïä§Ìä∏ + a Î¶¨Ïä§Ìä∏ = Í∞í Îëê Í∞ú ÎçîÌïú Í≤ÉÏùÑ Ìïú ÎùºÏù∏Ïóê Î≥¥Ïó¨Ï§å
a = [1, mary, 4, john] Ïù¥ÎãàÍπå a1= 1 a2= mary a3= 4 a4= john ÏûÑ.

* index: Python index starts from '0'

e.g., a = [1, 2, 3, 4]

In [46]:
a[0]
type(a[0])
type(a[1])
a[0] + a[2]
a[0] + a[1] # int + str = error

TypeError: ignored

[Github accounts](https://raw.githubusercontent.com/MK316/Spring2023/main/DL/files/DL_github.csv)



---
# The End